body{
	background-color: #4F4F4F;
	margin:0;
    padding:0;
}

.main{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.menu-container{
	background-color: #363636;
	background-image: url("../resources/images/logo-barra-menu.jpg");
	background-size: 261px 250%;
	background-repeat: no-repeat;
	background-position: right;
	font-family: 'Cinzel';
	font-size: 18px;
	font-weight: 700px;
}

footer {
	background-color: #363636;
	color: #FFFFFF;
	width: 100%;
	margin-top: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.section-container {
	margin-left: auto;
	margin-right: auto;
}

.main{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.my-label{
	color: #FF3823;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 11px;
    font-family: 'Frijole', cursive;
}

#botao{
	width: 100%;
	text-align: center; 
}

.nome{
	color: #E8E8E8;
	text-align:right; 
	width: 20%;
}

.social-net-container {
	text-align: center;
}

.social-net-container .social-net-icon{
	color: white;
    border-radius: 20px;
    font-size: 30px;
    min-width: 50px;
    line-height: 50px;
    text-align: center;
    margin-right: 15px;
}

.fa-facebook {
	background:#3b5998
} 

.fa-twitter {
	background:#00aced
}

.fa-instagram {
	background: #517fa4;
}

.fa-soundcloud {
	background: #FF7700;	
}

#mensagem{
	width: 70%;
	height: 30%;
}

#email{
	width: 70%;
}

#table{
	width: 100%;	
	text-align: center;
}

.music{
	width: 250px;
	max-width:300px; 
	padding-top: 10px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.image{
	display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
	height: 180px; 
	width: 180px;
	max-width:300px; 
	max-height:300px;
}

.home{
	color:#E8E8E8;
	padding: 5em;

}

.image-home{
	max-width: 500px;
	width: 100%;
	height: auto;
}

.image-home img{
	float:left;
	max-width: 500px;   
	width: 100%;
	max-height: 450px;  
	min-height: auto;
}

.phrase-home{
	text-align: center;
	font-size: 2.5em;
	font-family: 'Cinzel Decorative', cursive;
}

.text-about {
	text-align: justify;
	text-indent: 50px;
	font-size: 1.5em;
	font-family: 'Cinzel Decorative', cursive;
	color:  #E8E8E8;
	/*padding-left: 30px;
	padding-right: 10px;*/
}

.video-left {
	display: inline-block; 
	float:left; 
	margin: 1% 1% 1% 2%;
}

.video-right {
	display: inline-block; 
	float:right; 
	margin: 1% 2% 1% 1%;
}

.video {
	margin: 10% 0;
}

.posicao-legenda {
	text-align: center;
	position: relative; 
	top: -2em;
}

.legenda-video {
	font-family: 'Cinzel Decorative', cursive, Arial, sans;
	color: white;
}


div p em{
	font-size: 0.5em;
}

.carousel-inner > .item > img {
    width: 100%;
    margin: auto;
    height: 400px;
}

.carousel {
	width: 100%;
}