body{
	background-color: #4F4F4F;
	margin:0;
    padding:0;
}

.menu-container{
	background-color: #363636;
	background-image: url("../resources/images/logo-barra-menu.jpg");
	background-size: 261px 250%;
	background-repeat: no-repeat;
	background-position: right;
	height: 10%;
	color: red;
	font-family: 'Cinzel';
	font-size: 18px;
	font-weight: 700px;
}
/*
.menu-item {
	color: red;
}

.menu-item:link, .menu-item:visited {
    color: #CD0000;
}

.menu-item:hover, .menu-item:active {
    background-color: #FF00FF;
}*/

.music-container {
	margin-left: auto;
	margin-right: auto;
}

.main{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.label{
	color: #FF3823;
    font-size: 40px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
#botao{
	width: 100%;
	text-align: center; 
}

.nome{
	color: #E8E8E8;
	text-align:right; 
	width: 20%;
}
<<<<<<< HEAD

=======
.facebook{
	width: 50%;
	height: 100%;
}
.twitter{
	width: 50%;
	height: 100%;
}
.soundCloud{
	width: 70%;
	height: 100%;
}
.instagram{
	width: 30%;
	height: 100%;
}
>>>>>>> 3c33ade1d1ef15b524b75027cf417bb6942d335b
#mensagem{
	width: 70%;
	height: 30%;
}

#email{
	width: 70%;
}

#table{
	width: 100%;	
	text-align: center;
}

.music{
	width: 250px;
	max-width:300px; 
	padding-top: 10px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.image{
	display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
	height: 180px; 
	width: 180px;
	max-width:300px; 
	max-height:300px;
}

.home{
	color:#E8E8E8;
	padding: 5em;  
}

.imagehome{
	max-width: 500px;
	width: 100%;
	height: auto;
}

.imagehome img{
	float:left;
	max-width: 500px;   
	width: 100%;
	max-height: 450px;  
	min-height: auto;
}

.phrasehome{
	float:right;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	vertical-align: middle;
	font-size: 2.5em;
	max-width: 500px;
	width: 100%;
	height: auto;
}

div p em{
  font-size: 0.5em;
}

#row {
	display: table-row;
}

#cell {
	display: table-cell;
}
